header
{

	background-color: black;

}
.logo img
{
	width: 10rem;
	height: 10rem;
}
.logo_titulo
{
	font-family:"Arial Black";
	color:#fff;
	font-size: 1.3rem;
}
.logo_titulo span{
	color:#8B4513;
}
.linha
{
	display:flex;
    align-items: center;
}
#menu
{
	margin-top: 5px;
	display: flex;
	justify-content: space-around;
	
}
#menu li
{
	padding: 10px;
	list-style: none;
}
#menu ul
{
	display:flex;
}
.fonteMenu a
{
	font-family:"Arial Black";
	color:#b5956a;
	font-weight: 300;
	font-size: 1.3rem;
	text-decoration: none;
}
.fonteMenu a:hover /*Mouse em cima do link*/
{
	color:white;
	background: rgb(0, 0, 0) transparent;
	text-decoration: underline;
}
.fonteMenu a:active /*Link Selecionado*/
{
	color:white;
}
.btns__menu
{
	color:black;
	justify-content: center;
	text-align: center;
	list-style: none;
	border:2px;
	padding: 5px;
	
}
.btns__menu a
{
	color:black;
}
.btn__login
{
	background-color: rgb(173, 87, 5);
	height: 10 px;
	margin-left: 15px;
	border-radius: 10px;

}
.btn__cadastro
{
	background-color: rgb(221, 150, 83);
	margin-left: 15px;
	border-radius: 10px;

}